@model IEnumerable<NNMetrics.Models.Metrics>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@Html.ActionLink("Chart", "UseDataTableMTTR", "Metrics")
@Html.ActionLink("ChartDynamic", "UseDataFromServer", "Metrics")
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeasureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.POSatisfaction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompletedForecast)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MTTR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfDeployments)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POSatisfaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedForecast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MTTR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDeployments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>

    
</table>
