@model IEnumerable<NNMetrics.Models.Metrics>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>   
    <button class="button28 button28" style="float: left;width:180px;" onclick="location.href='@Url.Action("Create", "Metrics")';return false;"><font style="font-weight:bold;font-size:12px;">Create new</font></button>
</p><br /><br />
<button class="button25 button25" style="float: left;width:180px;" onclick="location.href='@Url.Action("UseDataFromServerMTTR", "Metrics")';return false;"><font style="font-weight:bold;font-size:12px;">MTTR</font></button>
<button class="button25 button25" style="float: left;width:180px;" onclick="location.href='@Url.Action("UseDataFromServerPO", "Metrics")';return false;"><font style="font-weight:bold;font-size:12px;">PO Satisfaction</font></button>
<button class="button25 button25" style="float: left;width:180px;" onclick="location.href='@Url.Action("UseDataFromServerCompleted", "Metrics")';return false;"><font style="font-weight:bold;font-size:12px;">Completed of planned</font></button>
<button class="button25 button25" style="float: left;width:180px;" onclick="location.href='@Url.Action("UseDataFromServerDeployments", "Metrics")';return false;"><font style="font-weight:bold;font-size:12px;">Number of deployments</font></button>
<button class="button31 button31" style="float: right;width:150px;" onclick="location.href='@Url.Action("DeleteAll", "Metrics")';return false;"><font style="font-weight:bold;font-size:12px;">Delete records</font></button>
<br /><br />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeasureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.POSatisfaction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompletedForecast)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MTTR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfDeployments)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POSatisfaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedForecast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MTTR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDeployments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>

    
</table>
